<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.yaogan.mapper.DeviceStaticCheckMapper">
    
    <resultMap type="DeviceStaticCheck" id="DeviceStaticCheckResult">
        <result property="iD"    column="ID"    />
        <result property="jZBH"    column="JZBH"    />
        <result property="yCXBH"    column="YCXBH"    />
        <result property="jCKSSJ"    column="JCKSSJ"    />
        <result property="bQLB"    column="BQLB"    />
        <result property="cO2BZZ"    column="CO2BZZ"    />
        <result property="cOBZZ"    column="COBZZ"    />
        <result property="nOBZZ"    column="NOBZZ"    />
        <result property="cO2CLZ"    column="CO2CLZ"    />
        <result property="cOCLZ"    column="COCLZ"    />
        <result property="nOCLZ"    column="NOCLZ"    />
    </resultMap>
	
	<sql id="selectDeviceStaticCheckVo">
        select ID, JZBH, YCXBH, JCKSSJ, BQLB, CO2BZZ, COBZZ, NOBZZ, CO2CLZ, COCLZ, NOCLZ from rs_device_static_check
    </sql>
	
    <select id="selectDeviceStaticCheckList" parameterType="DeviceStaticCheck" resultMap="DeviceStaticCheckResult">
        <include refid="selectDeviceStaticCheckVo"/>
        <where>  
            <if test="iD != null "> and ID = #{iD}</if>
             <if test="jZBH != null  and jZBH != '' "> and JZBH = #{jZBH}</if>
             <if test="yCXBH != null  and yCXBH != '' "> and YCXBH = #{yCXBH}</if>
             <if test="jCKSSJ != null "> and JCKSSJ = #{jCKSSJ}</if>
             <if test="bQLB != null  and bQLB != '' "> and BQLB = #{bQLB}</if>
             <if test="cO2BZZ != null "> and CO2BZZ = #{cO2BZZ}</if>
             <if test="cOBZZ != null "> and COBZZ = #{cOBZZ}</if>
             <if test="nOBZZ != null "> and NOBZZ = #{nOBZZ}</if>
             <if test="cO2CLZ != null "> and CO2CLZ = #{cO2CLZ}</if>
             <if test="cOCLZ != null "> and COCLZ = #{cOCLZ}</if>
             <if test="nOCLZ != null "> and NOCLZ = #{nOCLZ}</if>
         </where>
    </select>
    
    <select id="selectDeviceStaticCheckById" parameterType="Integer" resultMap="DeviceStaticCheckResult">
        <include refid="selectDeviceStaticCheckVo"/>
        where ID = #{iD}
    </select>
        
    <insert id="insertDeviceStaticCheck" parameterType="DeviceStaticCheck">
        insert into rs_device_static_check
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="iD != null  ">ID,</if>
			<if test="jZBH != null  and jZBH != ''  ">JZBH,</if>
			<if test="yCXBH != null  and yCXBH != ''  ">YCXBH,</if>
			<if test="jCKSSJ != null  ">JCKSSJ,</if>
			<if test="bQLB != null  and bQLB != ''  ">BQLB,</if>
			<if test="cO2BZZ != null  ">CO2BZZ,</if>
			<if test="cOBZZ != null  ">COBZZ,</if>
			<if test="nOBZZ != null  ">NOBZZ,</if>
			<if test="cO2CLZ != null  ">CO2CLZ,</if>
			<if test="cOCLZ != null  ">COCLZ,</if>
			<if test="nOCLZ != null  ">NOCLZ,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="iD != null  ">#{iD},</if>
			<if test="jZBH != null  and jZBH != ''  ">#{jZBH},</if>
			<if test="yCXBH != null  and yCXBH != ''  ">#{yCXBH},</if>
			<if test="jCKSSJ != null  ">#{jCKSSJ},</if>
			<if test="bQLB != null  and bQLB != ''  ">#{bQLB},</if>
			<if test="cO2BZZ != null  ">#{cO2BZZ},</if>
			<if test="cOBZZ != null  ">#{cOBZZ},</if>
			<if test="nOBZZ != null  ">#{nOBZZ},</if>
			<if test="cO2CLZ != null  ">#{cO2CLZ},</if>
			<if test="cOCLZ != null  ">#{cOCLZ},</if>
			<if test="nOCLZ != null  ">#{nOCLZ},</if>
         </trim>
    </insert>
	 
    <update id="updateDeviceStaticCheck" parameterType="DeviceStaticCheck">
        update rs_device_static_check
        <trim prefix="SET" suffixOverrides=",">
            <if test="jZBH != null  and jZBH != ''  ">JZBH = #{jZBH},</if>
            <if test="yCXBH != null  and yCXBH != ''  ">YCXBH = #{yCXBH},</if>
            <if test="jCKSSJ != null  ">JCKSSJ = #{jCKSSJ},</if>
            <if test="bQLB != null  and bQLB != ''  ">BQLB = #{bQLB},</if>
            <if test="cO2BZZ != null  ">CO2BZZ = #{cO2BZZ},</if>
            <if test="cOBZZ != null  ">COBZZ = #{cOBZZ},</if>
            <if test="nOBZZ != null  ">NOBZZ = #{nOBZZ},</if>
            <if test="cO2CLZ != null  ">CO2CLZ = #{cO2CLZ},</if>
            <if test="cOCLZ != null  ">COCLZ = #{cOCLZ},</if>
            <if test="nOCLZ != null  ">NOCLZ = #{nOCLZ},</if>
        </trim>
        where ID = #{iD}
    </update>

	<delete id="deleteDeviceStaticCheckById" parameterType="Integer">
        delete from rs_device_static_check where ID = #{iD}
    </delete>
	
    <delete id="deleteDeviceStaticCheckByIds" parameterType="String">
        delete from rs_device_static_check where ID in 
        <foreach item="iD" collection="array" open="(" separator="," close=")">
            #{iD}
        </foreach>
    </delete>
    
</mapper>