<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.yaogan.mapper.DeviceCheckLogMapper">
    
    <resultMap type="DeviceCheckLog" id="DeviceCheckLogResult">
        <result property="iD"    column="ID"    />
        <result property="dWBH"    column="DWBH"    />
        <result property="yCXBH"    column="YCXBH"    />
        <result property="jCLX"    column="JCLX"    />
        <result property="jCKSSJ"    column="JCKSSJ"    />
        <result property="sFTG"    column="SFTG"    />
        <result property="bZ"    column="BZ"    />
        <result property="jCDW"    column="JCDW"    />
        <result property="jCRY"    column="JCRY"    />
    </resultMap>
	
	<sql id="selectDeviceCheckLogVo">
        select ID, DWBH, YCXBH, JCLX, JCKSSJ, SFTG, BZ, JCDW, JCRY from rs_device_check_log
    </sql>
	
    <select id="selectDeviceCheckLogList" parameterType="DeviceCheckLog" resultMap="DeviceCheckLogResult">
        <include refid="selectDeviceCheckLogVo"/>
        <where>  
            <if test="iD != null "> and ID = #{iD}</if>
             <if test="dWBH != null  and dWBH != '' "> and DWBH = #{dWBH}</if>
             <if test="yCXBH != null  and yCXBH != '' "> and YCXBH = #{yCXBH}</if>
             <if test="jCLX != null "> and JCLX = #{jCLX}</if>
             <if test="jCKSSJ != null "> and JCKSSJ = #{jCKSSJ}</if>
             <if test="sFTG != null  and sFTG != '' "> and SFTG = #{sFTG}</if>
             <if test="bZ != null  and bZ != '' "> and BZ = #{bZ}</if>
             <if test="jCDW != null  and jCDW != '' "> and JCDW = #{jCDW}</if>
             <if test="jCRY != null  and jCRY != '' "> and JCRY = #{jCRY}</if>
         </where>
    </select>
    
    <select id="selectDeviceCheckLogById" parameterType="Integer" resultMap="DeviceCheckLogResult">
        <include refid="selectDeviceCheckLogVo"/>
        where ID = #{iD}
    </select>
        
    <insert id="insertDeviceCheckLog" parameterType="DeviceCheckLog">
        insert into rs_device_check_log
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="iD != null  ">ID,</if>
			<if test="dWBH != null  and dWBH != ''  ">DWBH,</if>
			<if test="yCXBH != null  and yCXBH != ''  ">YCXBH,</if>
			<if test="jCLX != null  ">JCLX,</if>
			<if test="jCKSSJ != null  ">JCKSSJ,</if>
			<if test="sFTG != null  and sFTG != ''  ">SFTG,</if>
			<if test="bZ != null  and bZ != ''  ">BZ,</if>
			<if test="jCDW != null  and jCDW != ''  ">JCDW,</if>
			<if test="jCRY != null  and jCRY != ''  ">JCRY,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="iD != null  ">#{iD},</if>
			<if test="dWBH != null  and dWBH != ''  ">#{dWBH},</if>
			<if test="yCXBH != null  and yCXBH != ''  ">#{yCXBH},</if>
			<if test="jCLX != null  ">#{jCLX},</if>
			<if test="jCKSSJ != null  ">#{jCKSSJ},</if>
			<if test="sFTG != null  and sFTG != ''  ">#{sFTG},</if>
			<if test="bZ != null  and bZ != ''  ">#{bZ},</if>
			<if test="jCDW != null  and jCDW != ''  ">#{jCDW},</if>
			<if test="jCRY != null  and jCRY != ''  ">#{jCRY},</if>
         </trim>
    </insert>
	 
    <update id="updateDeviceCheckLog" parameterType="DeviceCheckLog">
        update rs_device_check_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="dWBH != null  and dWBH != ''  ">DWBH = #{dWBH},</if>
            <if test="yCXBH != null  and yCXBH != ''  ">YCXBH = #{yCXBH},</if>
            <if test="jCLX != null  ">JCLX = #{jCLX},</if>
            <if test="jCKSSJ != null  ">JCKSSJ = #{jCKSSJ},</if>
            <if test="sFTG != null  and sFTG != ''  ">SFTG = #{sFTG},</if>
            <if test="bZ != null  and bZ != ''  ">BZ = #{bZ},</if>
            <if test="jCDW != null  and jCDW != ''  ">JCDW = #{jCDW},</if>
            <if test="jCRY != null  and jCRY != ''  ">JCRY = #{jCRY},</if>
        </trim>
        where ID = #{iD}
    </update>

	<delete id="deleteDeviceCheckLogById" parameterType="Integer">
        delete from rs_device_check_log where ID = #{iD}
    </delete>
	
    <delete id="deleteDeviceCheckLogByIds" parameterType="String">
        delete from rs_device_check_log where ID in 
        <foreach item="iD" collection="array" open="(" separator="," close=")">
            #{iD}
        </foreach>
    </delete>
    
</mapper>