<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.yaogan.mapper.TrafficFlowMapper">
    
    <resultMap type="TrafficFlow" id="TrafficFlowResult">
        <result property="dWBH"    column="DWBH"    />
        <result property="jCDWRZH"    column="JCDWRZH"    />
        <result property="sSDL"    column="SSDL"    />
        <result property="lLFL"    column="LLFL"    />
        <result property="tJSC"    column="TJSC"    />
        <result property="cJSD"    column="CJSD"    />
        <result property="tJRQ"    column="TJRQ"    />
        <result property="cDXH"    column="CDXH"    />
        <result property="wXXKCS"    column="WXXKCS"    />
        <result property="zXKCS"    column="ZXKCS"    />
        <result property="dXKCS"    column="DXKCS"    />
        <result property="xXHCS"    column="XXHCS"    />
        <result property="zXHCS"    column="ZXHCS"    />
        <result property="zXHCS1"    column="ZXHCS1"    />
        <result property="tXCLS"    column="TXCLS"    />
        <result property="pJSD"    column="PJSD"    />
        <result property="pJPDCD"    column="PJPDCD"    />
    </resultMap>
	
	<sql id="selectTrafficFlowVo">
        select DWBH, JCDWRZH, SSDL, LLFL, TJSC, CJSD, TJRQ, CDXH, WXXKCS, ZXKCS, DXKCS, XXHCS, ZXHCS, ZXHCS1, TXCLS, PJSD, PJPDCD from rs_traffic_flow
    </sql>
	
    <select id="selectTrafficFlowList" parameterType="TrafficFlow" resultMap="TrafficFlowResult">
        <include refid="selectTrafficFlowVo"/>
        <where>  
            <if test="dWBH != null  and dWBH != '' "> and DWBH = #{dWBH}</if>
             <if test="jCDWRZH != null  and jCDWRZH != '' "> and JCDWRZH = #{jCDWRZH}</if>
             <if test="sSDL != null  and sSDL != '' "> and SSDL = #{sSDL}</if>
             <if test="lLFL != null  and lLFL != '' "> and LLFL = #{lLFL}</if>
             <if test="tJSC != null  and tJSC != '' "> and TJSC = #{tJSC}</if>
             <if test="cJSD != null "> and CJSD = #{cJSD}</if>
             <if test="tJRQ != null "> and TJRQ = #{tJRQ}</if>
             <if test="cDXH != null  and cDXH != '' "> and CDXH = #{cDXH}</if>
             <if test="wXXKCS != null "> and WXXKCS = #{wXXKCS}</if>
             <if test="zXKCS != null "> and ZXKCS = #{zXKCS}</if>
             <if test="dXKCS != null "> and DXKCS = #{dXKCS}</if>
             <if test="xXHCS != null "> and XXHCS = #{xXHCS}</if>
             <if test="zXHCS != null "> and ZXHCS = #{zXHCS}</if>
             <if test="zXHCS1 != null "> and ZXHCS1 = #{zXHCS1}</if>
             <if test="tXCLS != null "> and TXCLS = #{tXCLS}</if>
             <if test="pJSD != null "> and PJSD = #{pJSD}</if>
             <if test="pJPDCD != null "> and PJPDCD = #{pJPDCD}</if>
         </where>
    </select>
    
    <select id="selectTrafficFlowById" parameterType="String" resultMap="TrafficFlowResult">
        <include refid="selectTrafficFlowVo"/>
        where DWBH = #{dWBH}
    </select>
        
    <insert id="insertTrafficFlow" parameterType="TrafficFlow">
        insert into rs_traffic_flow
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="dWBH != null  and dWBH != ''  ">DWBH,</if>
			<if test="jCDWRZH != null  and jCDWRZH != ''  ">JCDWRZH,</if>
			<if test="sSDL != null  and sSDL != ''  ">SSDL,</if>
			<if test="lLFL != null  and lLFL != ''  ">LLFL,</if>
			<if test="tJSC != null  and tJSC != ''  ">TJSC,</if>
			<if test="cJSD != null  ">CJSD,</if>
			<if test="tJRQ != null  ">TJRQ,</if>
			<if test="cDXH != null  and cDXH != ''  ">CDXH,</if>
			<if test="wXXKCS != null  ">WXXKCS,</if>
			<if test="zXKCS != null  ">ZXKCS,</if>
			<if test="dXKCS != null  ">DXKCS,</if>
			<if test="xXHCS != null  ">XXHCS,</if>
			<if test="zXHCS != null  ">ZXHCS,</if>
			<if test="zXHCS1 != null  ">ZXHCS1,</if>
			<if test="tXCLS != null  ">TXCLS,</if>
			<if test="pJSD != null  ">PJSD,</if>
			<if test="pJPDCD != null  ">PJPDCD,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="dWBH != null  and dWBH != ''  ">#{dWBH},</if>
			<if test="jCDWRZH != null  and jCDWRZH != ''  ">#{jCDWRZH},</if>
			<if test="sSDL != null  and sSDL != ''  ">#{sSDL},</if>
			<if test="lLFL != null  and lLFL != ''  ">#{lLFL},</if>
			<if test="tJSC != null  and tJSC != ''  ">#{tJSC},</if>
			<if test="cJSD != null  ">#{cJSD},</if>
			<if test="tJRQ != null  ">#{tJRQ},</if>
			<if test="cDXH != null  and cDXH != ''  ">#{cDXH},</if>
			<if test="wXXKCS != null  ">#{wXXKCS},</if>
			<if test="zXKCS != null  ">#{zXKCS},</if>
			<if test="dXKCS != null  ">#{dXKCS},</if>
			<if test="xXHCS != null  ">#{xXHCS},</if>
			<if test="zXHCS != null  ">#{zXHCS},</if>
			<if test="zXHCS1 != null  ">#{zXHCS1},</if>
			<if test="tXCLS != null  ">#{tXCLS},</if>
			<if test="pJSD != null  ">#{pJSD},</if>
			<if test="pJPDCD != null  ">#{pJPDCD},</if>
         </trim>
    </insert>
	 
    <update id="updateTrafficFlow" parameterType="TrafficFlow">
        update rs_traffic_flow
        <trim prefix="SET" suffixOverrides=",">
            <if test="jCDWRZH != null  and jCDWRZH != ''  ">JCDWRZH = #{jCDWRZH},</if>
            <if test="sSDL != null  and sSDL != ''  ">SSDL = #{sSDL},</if>
            <if test="lLFL != null  and lLFL != ''  ">LLFL = #{lLFL},</if>
            <if test="tJSC != null  and tJSC != ''  ">TJSC = #{tJSC},</if>
            <if test="cJSD != null  ">CJSD = #{cJSD},</if>
            <if test="tJRQ != null  ">TJRQ = #{tJRQ},</if>
            <if test="cDXH != null  and cDXH != ''  ">CDXH = #{cDXH},</if>
            <if test="wXXKCS != null  ">WXXKCS = #{wXXKCS},</if>
            <if test="zXKCS != null  ">ZXKCS = #{zXKCS},</if>
            <if test="dXKCS != null  ">DXKCS = #{dXKCS},</if>
            <if test="xXHCS != null  ">XXHCS = #{xXHCS},</if>
            <if test="zXHCS != null  ">ZXHCS = #{zXHCS},</if>
            <if test="zXHCS1 != null  ">ZXHCS1 = #{zXHCS1},</if>
            <if test="tXCLS != null  ">TXCLS = #{tXCLS},</if>
            <if test="pJSD != null  ">PJSD = #{pJSD},</if>
            <if test="pJPDCD != null  ">PJPDCD = #{pJPDCD},</if>
        </trim>
        where DWBH = #{dWBH}
    </update>

	<delete id="deleteTrafficFlowById" parameterType="String">
        delete from rs_traffic_flow where DWBH = #{dWBH}
    </delete>
	
    <delete id="deleteTrafficFlowByIds" parameterType="String">
        delete from rs_traffic_flow where DWBH in 
        <foreach item="dWBH" collection="array" open="(" separator="," close=")">
            #{dWBH}
        </foreach>
    </delete>
    
</mapper>