<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>

<style type="text/css">
    #parent{
        height: 100%;
        width: 100%;
    }
    .div_table, .div_information, .div_map {
        float: left;
        position: relative;
        min-height: 1px;
    }
    /*===========================表格模块样式===========================================*/
    .div_table {
        padding-top: 10px;
        width: 15%;
        height: 100%;
        background-color: black;
    }
    .div_table_title {
        text-align: center;
        height: 40px;
    }
    .div_table_title img {
        width: 110px;
        height: 40px;
    }
    .div_table_title span {
        vertical-align:middle;
        font-weight: bolder;
        font-size: 22px;
        color:#FFFF66;
    }
    .div_table #bootstrap-table{
        table-layout: fixed;
    }
    .div_table #bootstrap-table tbody,.div_table #bootstrap-table thead{
        font-size:11px;
    }
    .div_table #bootstrap-table tr{
        height: 40px;
        max-height: 40px;
    }
    .table thead tr th div {
        background: #FAFA03;
        color: #000000;
    }
    .fixed-table-container thead th .th-inner {
        line-height: 12px;
    }
    /*==================================================================================*/

    /*=========================站点信息模块样式=========================================*/
    .div_information {
        width: 22%;
        height: 100%;
        background-color: #191921;
        text-align: center;
    }
    .div_information #time{
        height: 10%;
        color: white;
        font-size: 21px;
        font-weight: 500;
        line-height: 4;
    }
    .div_information #station_name{
        height: 10%;
        font-size: 24px;
        color: white;
        line-height: 2.5;
        font-weight: bold;
    }
    .div_information #station_information{
        height: 25%;
        background-color: #0C0C10;
        margin:0 auto;
        width: 90%;
        font-size: 22px;
        font-weight: bold;
        padding: 15px 0px 0px 15px;
        line-height: 2.5;
        text-align: left;
    }
    .div_information #station_information #ranking{
        color: #D6A73B;
    }
    .div_information #station_information #avg_speed{
        color: #B1AC47;
    }
    .div_information #station_sort_chart{
        height: 55%;
        width:100%;
    }
    /*==================================================================================*/

    /*=========================地图模块样式=============================================*/
    .div_map {
        height: 100%;
        width: 63%;
    }
    .div_map #map_container{
        height: 75%;
        width: 100%;
    }
    .div_map #chart_container{
        height: 25%;
        width: 100%;
        background-color: black;
    }
    #chart_container .chart_parentContainer{
        height:100%;
        float: left;
        width:50%;
    }
    #chart_container .chart_head{
        height:20%;
        width: 100%;
    }
    #chart_container .chart_head .title{
        font-weight: bold;
        line-height: 3;
        padding-left: 25px;
        font-size: 16px;
        float: left;
        height: 100%;
        color: #939393;
    }
    #chart_container .chart_head .avgStyle{
        font-weight: bold;
        line-height: 3;
        font-size: 16px;
        color: #00BAFF;
        float: right;
        height: 100%;
        padding-right: 25px;
    }
    #chart_container .chart_container{
        height: 80%;
        width: 100%;
    }
    #count_chart,#speed_chart,#sort_chart{
        width: 100%;
        height: 100%;
    }
    /*==================================================================================*/

    /*========================消除原框架工具捆绑的CSS样式===============================*/
    /*消除原框架工具捆绑的CSS样式*/
    .table-striped .table,.fixed-table-container,table,.table-striped .table,.table>thead>tr>th,.table>tbody>tr>th,
    .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
        border-bottom: 0 solid rgb(231, 234, 236) !important;
    }
    .amap-logo, .amap-copyright {
        display: none !important;
    }
    /*==================================================================================*/
</style>

<body class="gray-bg-bg">
<!--父级DIV-->
<div id="parent">
    <!--表格父级元素-->
    <div class="div_table">
        <!--表格头部-->
        <div class="div_table_title">
            <img th:src="@{/logo-little.png} " onerror="this.src='img/profile.jpg'"/>
            <span>顺德交通</span>
        </div>
        <!--表格-->
        <table id="bootstrap-table" data-mobile-responsive="true"></table>
    </div>
    <!--详细信息父级元素-->
    <div class="div_information">
        <!--时钟-->
        <div id="time"></div>
        <!--站点名称-->
        <div id="station_name"></div>
        <!--站点详细信息-->
        <div id="station_information">
            <div>排名：<span id="ranking"></span></div>
            <div>平均车速：<span id="avg_speed"></span></div>
            <div>拥堵指数：<span id="congestion_index"></span></div>
        </div>
        <!--站点图表详细信息-->
        <div id="station_sort_chart">
            <!--车型分类饼图-->
            <div id="sort_chart"></div>
        </div>
    </div>
    <!--地图信息父级元素-->
    <div class="div_map">
        <!--地图容器-->
        <div id="map_container"></div>
        <!--图表父级元素-->
        <div id="chart_container">
            <!--过车数图表父级元素-->
            <div class="chart_parentContainer">
                <!--过车数图表标题-->
                <div class="chart_head">
                    <div class="title">每小时过车数</div>
                    <div class="avgStyle" id="count_avg">223</div>
                </div>
                <!--过车数图表容器-->
                <div class="chart_container">
                    <div id="count_chart"></div>
                </div>
            </div>
            <!--车速图表父级元素-->
            <div class="chart_parentContainer">
                <!--车速图表标题-->
                <div class="chart_head">
                    <div class="title">每小时平均车数</div>
                    <div class="avgStyle" id="speed_avg">40km/h</div>
                </div>
                <!--车速图表容器-->
                <div class="chart_container">
                    <div id="speed_chart"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>

<script th:src="@{/ajax/libs/tic/amap-flashMarker.js}"></script>
<script th:src="@{/ajax/libs/echart/echarts.min.js}"></script>
<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=729fd69834287f5ca6660beee14b6a49"></script>
<script th:inline="javascript">
    var dataSetList = []; var dataSetSum;

    var map = new AMap.Map('map_container');
    map.setMapStyle('amap://styles/darkblue');

    // 图表数据定义
    var countChart = echarts.init(document.getElementById('count_chart')); // 过车数图表
    var speedChart = echarts.init(document.getElementById('speed_chart')); // 车速图表
    var sortChart = echarts.init(document.getElementById('sort_chart')); // 分类图表

    $(function () {
        // 启动时钟
        var colok = new Clock();
        colok.display($("#time"));

        // 表格数据处理
        // 使用原生bootstrap-table插件
        $('#bootstrap-table').bootstrapTable({
            url: "/module/stationInfo/listWithData",                 // 请求后台的URL
            contentType: "application/x-www-form-urlencoded",        // 编码类型
            method: 'post',                                          // 请求方式
            cache: false,                                           // 是否使用缓存
            sidePagination: "server",                                // 启用服务端分页
            columns: [
                {
                    field: 'id',
                    title: '排名',
                    align: 'center',
                    halign: 'center',
                    width: '20%',
                    cellStyle: {
                        css: {
                            "color": "white" ,
                            "font-weight": "bold"
                        }
                    }
                },
                {
                    field: 'name',
                    title: '站点名称',
                    align: 'center',
                    halign: 'center',
                    width: '50%',
                    cellStyle: {
                        css: {
                            "color": "#32AE3D",
                            "font-weight": "bold",
                            "overflow": "hidden",
                            "text-overflow": "ellipsis",
                            "white-space": "nowrap"
                        }
                    },
                    formatter: function (value, row, index) {
                        configureDataSet(row.longitude_GCJ02,row.latitude_GCJ02);
                        if((index+1) == dataSetSum){
                            var flashMarkerLayer = new FlashMarker(map,dataSetList);
                        }
                        return ['<span title="' + value + '" >' + value + '</span>'].join('');
                    }
                },
                {
                    field: 'congestionNum',
                    title: '拥堵指数',
                    align: 'center',
                    halign: 'center',
                    width: '30%',
                    cellStyle: {
                        css: {
                            "color": "#A5AD2A",
                            "font-weight": "bold",
                            "font-size": "13px"
                        }
                    },
                    formatter: function(value, row, index) {
                        var randomNum = parseInt(Math.random()*99+1)+"%";
                        if(index == 0){ showInformation(row.name,row.id,null,randomNum); }
                        return randomNum;
                    }
                },
            ],                                         // 显示列信息
            responseHandler: function(res) {
                if (res.code == 0) {
                    dataSetSum = res.total;
                    return { rows: res.rows, total: res.total };
                } else {
                    $.modal.alertWarning(res.msg);
                    return { rows: [], total: 0 };
                }
            },                  // 回调函数
            onClickRow:function(row,$element){
                // 处理站点详细信息想数据
                showInformation(row.name,row.id,null,$element.children().eq(2).html());
                // 地图适配到指定视野范围
                map.setFitView([
                    new AMap.Marker({
                        position: [row.longitude_GCJ02,row.latitude_GCJ02]
                    })
                ]);
                // 处理图表数据
                showChartInfo(null);
            },                // 单击事件
        });

        // 初始化显示图表数据
        // 车型分类图表配置项
        var sortOption = {
            title: {
                text : '车型分布',
                textStyle : {
                    color : 'white',
                    fontSize : 26,
                    fontWeight: 'bold'
                },
                top:'18%',
                left:'35%'
            },
            tooltip: {
                trigger: 'item',
                formatter: "{a}<br/>{b} : {c} ({d}%)"
            },
            series: [
                {
                    name: '车型分布',
                    type: 'pie',
                    radius : [ 23,120],
                    center: ['50%','55%'],
                    color:['#00BAFF', '#3DE7C9','#FFFFFF'],
                    minAngle:20,
                    data:[
                        {value:parseInt(500*Math.random()+1), name:'中小客车'},
                        {value:parseInt(500*Math.random()+1), name:'大客车'},
                        {value:parseInt(500*Math.random()+1), name:'小型货车'},
                        {value:parseInt(500*Math.random()+1), name:'中型货车'},
                        {value:parseInt(500*Math.random()+1), name:'大型货车'},
                        {value:parseInt(500*Math.random()+1), name:'超大型货车'},
                        {value:parseInt(500*Math.random()+1), name:'集装箱车'},
                        {value:parseInt(500*Math.random()+1), name:'摩托车'}
                    ],
                    label: {
                        normal: {
                            show: true,
                            position: 'inner',
                            formatter: "{d}% \n {b}",
                            textStyle: {
                                color: '#534B4B',
                                fontSize: 12
                            }
                        }
                    },
                    itemStyle:{
                        normal: {
                            borderWidth: 10,
                            borderColor: '#191921',
                        }
                    }
                }
            ]
        };
        sortChart.setOption(sortOption);

        //  过车数图表配置项
        var countOption = {
            backgroundColor: '#000000',
            tooltip: {
                trigger: 'axis'
            },
            // x轴信息样式
            xAxis: [
                {
                    type: 'category', // 类型
                    show: true,
                    boundaryGap:false, // 坐标轴两边留白策略
                    interval:0, // 坐标轴分割间隔
                    axisLine: {  //坐标轴轴线设置
                        lineStyle: { // 轴线样式设置
                            color: '#6F1310', // 颜色
                            width: 0.5 // 线宽
                        }
                    },
                    axisTick: {  // 坐标轴刻度设置
                        show: false
                    },
                    axisLabel:{  // 坐标轴刻度标签设置
                        color: '#7B7B7B',
                        interval:0,
                        margin:10,
                        showMinLabel:true,
                        showMaxLabel:true,
                        rotate: 45,
                        textStyle:{
                            fontSize:9,
                            fontWeight: 'bold'
                        }
                    },
                    data: function() {
                        var list = [];
                        for (var i = 0; i < 24; i++) {
                            if (i < 10) {
                                list.push('0' + i + 'h');
                            } else {
                                list.push( i + 'h');
                            }
                        }
                        return list;
                    }()
                }
            ],
            // y轴信息样式
            yAxis: [
                {
                    type: 'value',
                    name: '辆',
                    nameTextStyle: {
                        color:'#7B7B7B',
                        fontWeight: 'bold'
                    },
                    nameGap : 7,
                    axisLine: {
                        lineStyle: {
                            color: '#6F1310',
                            width: 0.5
                        }
                    },
                    axisTick: {  // 坐标轴刻度设置
                        show: false
                    },
                    splitLine: {
                        show: false
                    },
                    axisLabel:{  // 坐标轴刻度标签设置
                        color: '#7B7B7B',
                        margin:10,
                        textStyle:{
                            fontSize:10,
                            fontWeight: 'bold'
                        }
                    }
                }
            ],
            series: [
                {
                    name: '过车车辆数量',
                    type: 'line',
                    symbol:'circle',
                    data: function(){
                        var list = [];
                        for (var i = 0; i < 24; i++) {
                            list.push(parseInt(500*Math.random()+1));
                        }
                        return list;
                    }(),
                    itemStyle:{
                        normal:{
                            color:'#A8071A',
                            borderColor:'#A8071A'  //拐点边框颜色
                        }
                    },
                    lineStyle : {
                        color : '#6F1310',
                        width : 1
                    },
                    areaStyle : {
                        color: new echarts.graphic.LinearGradient(0, 0, 0, 1,[{
                                offset: 0, color: '#67160F' // 0% 处的颜色
                            }, {
                                offset: 1, color: '#010000' // 100% 处的颜色
                            }]
                        )
                    }
                }
            ],
            grid: {
                x : '2%',
                x2 : '5%',
                y : '15%',
                y2 : '5%',
                containLabel: true
            }
        };
        countChart.setOption(countOption);

        // 车速图表配置项
        var speedOption = {
            backgroundColor: '#000000',
            tooltip: {
                trigger: 'axis'
            },
            // x轴信息样式
            xAxis: [
                {
                    type: 'category', // 类型
                    boundaryGap:false, // 坐标轴两边留白策略
                    interval:0, // 坐标轴分割间隔
                    axisLine: {  //坐标轴轴线设置
                        lineStyle: { // 轴线样式设置
                            color: '#D3B76A', // 颜色
                            width: 0.5 // 线宽
                        }
                    },
                    axisTick: {  // 坐标轴刻度设置
                        show: false
                    },
                    axisLabel:{  // 坐标轴刻度标签设置
                        color: '#7B7B7B',
                        interval:0,
                        margin:10,
                        showMinLabel:true,
                        showMaxLabel:true,
                        rotate: 45,
                        textStyle:{
                            fontSize:9,
                            fontWeight: 'bold'
                        }
                    },
                    data: function() {
                        var list = [];
                        for (var i = 0; i < 24; i++) {
                            if (i < 10) {
                                list.push('0' + i + 'h');
                            } else {
                                list.push( i + 'h');
                            }
                        }
                        return list;
                    }()
                }
            ],
            // y轴信息样式
            yAxis: [
                {
                    type: 'value',
                    name: 'km/h',
                    nameTextStyle: {
                        color: '#7B7B7B',
                        fontWeight: 'bold'
                    },
                    nameGap : 7,
                    axisLine: {
                        lineStyle: {
                            color: '#D3B76A',
                            width: 0.5
                        }
                    },
                    axisTick: {  // 坐标轴刻度设置
                        show: false
                    },
                    splitLine: {
                        show: false
                    },
                    axisLabel:{  // 坐标轴刻度标签设置
                        color: '#7B7B7B',
                        margin:10,
                        textStyle:{
                            fontSize:10,
                            fontWeight: 'bold'
                        }
                    }
                }
            ],
            series: [
                {
                    name: '过车车辆数量',
                    type: 'line',
                    symbol:'circle',
                    data: function(){
                        var list = [];
                        for (var i = 0; i < 24; i++) {
                            list.push(parseInt(100*Math.random()+1));
                        }
                        return list;
                    }(),
                    itemStyle:{
                        normal:{
                            color:'#00BAFF',
                            borderColor:'#00BAFF'  //拐点边框颜色
                        }
                    },
                    lineStyle : {
                        color : '#E4B037',
                        width : 1
                    },
                    areaStyle : {
                        color: new echarts.graphic.LinearGradient(0, 0, 0, 1,[{
                                offset: 0, color: '#C59830' // 0% 处的颜色
                            }, {
                                offset: 1, color: '#010000' // 100% 处的颜色
                            }]
                        )
                    }
                }
            ],
            grid: {
                x : '2%',
                x2 : '5%',
                y : '15%',
                y2 : '5%',
                containLabel: true
            }
        };
        speedChart.setOption(speedOption);

    });

    // 配置地图信息
    function configureDataSet(longitude,latitude){
        var dataSet = {
            lnglat: [longitude,latitude],
            color: '#f8983a',
            type: 'circle',
            speed: 0.2
        };
        dataSetList.push(dataSet);
    }

    // 站点详细信息显示
    function showInformation(name,ranking,avg_speed,congestionNum){
        $("#station_name").text(name); // 站点名称
        $("#ranking").text(ranking); // 排名
        $("#avg_speed").text((Math.random()*(100-20+1)+20).toFixed(1)+"km/h"); // 平均车速
        $("#congestion_index").text(congestionNum); // 拥堵指数
    }

    // 图表信息显示
    function showChartInfo(id){
        // 车型分类图表配置项
        var sortOption = {
            title: {
                text : '车型分布',
                textStyle : {
                    color : 'white',
                    fontSize : 26,
                    fontWeight: 'bold'
                },
                top:'18%',
                left:'35%'
            },
            tooltip: {
                trigger: 'item',
                formatter: "{a}<br/>{b} : {c} ({d}%)"
            },
            series: [
                {
                    name: '车型分布',
                    type: 'pie',
                    radius : [ 23,120 ],
                    center: ['50%','55%'],
                    color:['#00BAFF', '#3DE7C9','#FFFFFF'],
                    minAngle:20,
                    data:[
                        {value:parseInt(500*Math.random()+1), name:'中小客车'},
                        {value:parseInt(500*Math.random()+1), name:'大客车'},
                        {value:parseInt(500*Math.random()+1), name:'小型货车'},
                        {value:parseInt(500*Math.random()+1), name:'中型货车'},
                        {value:parseInt(500*Math.random()+1), name:'大型货车'},
                        {value:parseInt(500*Math.random()+1), name:'超大型货车'},
                        {value:parseInt(500*Math.random()+1), name:'集装箱车'},
                        {value:parseInt(500*Math.random()+1), name:'摩托车'}
                    ],
                    label: {
                        normal: {
                            show: true,
                            position: 'inner',
                            formatter: "{d}% \n {b}",
                            textStyle: {
                                color: '#534B4B',
                                fontSize: 12
                            }
                        }
                    },
                    itemStyle:{
                        normal: {
                            borderWidth: 10,
                            borderColor: '#191921'
                        }
                    }
                }
            ]
        };
        sortChart.setOption(sortOption);

        //  过车数图表配置项
        var countOption = {
            backgroundColor: '#000000',
            tooltip: {
                trigger: 'axis'
            },
            // x轴信息样式
            xAxis: [
                {
                    type: 'category', // 类型
                    show: true,
                    boundaryGap:false, // 坐标轴两边留白策略
                    interval:0, // 坐标轴分割间隔
                    axisLine: {  //坐标轴轴线设置
                        lineStyle: { // 轴线样式设置
                            color: '#6F1310', // 颜色
                            width: 0.5 // 线宽
                        }
                    },
                    axisTick: {  // 坐标轴刻度设置
                        show: false
                    },
                    axisLabel:{  // 坐标轴刻度标签设置
                        color: '#7B7B7B',
                        interval:0,
                        margin:10,
                        showMinLabel:true,
                        showMaxLabel:true,
                        rotate: 45,
                        textStyle:{
                            fontSize:9,
                            fontWeight: 'bold'
                        }
                    },
                    data: function() {
                        var list = [];
                        for (var i = 0; i < 24; i++) {
                            if (i < 10) {
                                list.push('0' + i + 'h');
                            } else {
                                list.push( i + 'h');
                            }
                        }
                        return list;
                    }()
                }
            ],
            // y轴信息样式
            yAxis: [
                {
                    type: 'value',
                    name: '辆',
                    nameTextStyle: {
                        color:'#7B7B7B',
                        fontWeight: 'bold'
                    },
                    nameGap : 7,
                    axisLine: {
                        lineStyle: {
                            color: '#6F1310',
                            width: 0.5
                        }
                    },
                    axisTick: {  // 坐标轴刻度设置
                        show: false
                    },
                    splitLine: {
                        show: false
                    },
                    axisLabel:{  // 坐标轴刻度标签设置
                        color: '#7B7B7B',
                        margin:10,
                        textStyle:{
                            fontSize:10,
                            fontWeight: 'bold'
                        }
                    }
                }
            ],
            series: [
                {
                    name: '过车车辆数量',
                    type: 'line',
                    symbol:'circle',
                    data: function(){
                        var list = [];
                        for (var i = 0; i < 24; i++) {
                            list.push(parseInt(500*Math.random()+1));
                        }
                        return list;
                    }(),
                    itemStyle:{
                        normal:{
                            color:'#A8071A',
                            borderColor:'#A8071A'  //拐点边框颜色
                        }
                    },
                    lineStyle : {
                        color : '#6F1310',
                        width : 1
                    },
                    areaStyle : {
                        color: new echarts.graphic.LinearGradient(0, 0, 0, 1,[{
                                offset: 0, color: '#67160F' // 0% 处的颜色
                            }, {
                                offset: 1, color: '#010000' // 100% 处的颜色
                            }]
                        )
                    }
                }
            ],
            grid: {
                x : '2%',
                x2 : '5%',
                y : '15%',
                y2 : '5%',
                containLabel: true
            }
        };
        countChart.setOption(countOption);

        // 车速图表配置项
        var speedOption = {
            backgroundColor: '#000000',
            tooltip: {
                trigger: 'axis'
            },
            // x轴信息样式
            xAxis: [
                {
                    type: 'category', // 类型
                    boundaryGap:false, // 坐标轴两边留白策略
                    interval:0, // 坐标轴分割间隔
                    axisLine: {  //坐标轴轴线设置
                        lineStyle: { // 轴线样式设置
                            color: '#D3B76A', // 颜色
                            width: 0.5 // 线宽
                        }
                    },
                    axisTick: {  // 坐标轴刻度设置
                        show: false
                    },
                    axisLabel:{  // 坐标轴刻度标签设置
                        color: '#7B7B7B',
                        interval:0,
                        margin:10,
                        showMinLabel:true,
                        showMaxLabel:true,
                        rotate: 45,
                        textStyle:{
                            fontSize:9,
                            fontWeight: 'bold'
                        }
                    },
                    data: function() {
                        var list = [];
                        for (var i = 0; i < 24; i++) {
                            if (i < 10) {
                                list.push('0' + i + 'h');
                            } else {
                                list.push( i + 'h');
                            }
                        }
                        return list;
                    }()
                }
            ],
            // y轴信息样式
            yAxis: [
                {
                    type: 'value',
                    name: 'km/h',
                    nameTextStyle: {
                        color: '#7B7B7B',
                        fontWeight: 'bold'
                    },
                    nameGap : 7,
                    axisLine: {
                        lineStyle: {
                            color: '#D3B76A',
                            width: 0.5
                        }
                    },
                    axisTick: {  // 坐标轴刻度设置
                        show: false
                    },
                    splitLine: {
                        show: false
                    },
                    axisLabel:{  // 坐标轴刻度标签设置
                        color: '#7B7B7B',
                        margin:10,
                        textStyle:{
                            fontSize:10,
                            fontWeight: 'bold'
                        }
                    }
                }
            ],
            series: [
                {
                    name: '过车车辆数量',
                    type: 'line',
                    symbol:'circle',
                    data: function(){
                        var list = [];
                        for (var i = 0; i < 24; i++) {
                            list.push(parseInt(100*Math.random()+1));
                        }
                        return list;
                    }(),
                    itemStyle:{
                        normal:{
                            color:'#00BAFF',
                            borderColor:'#00BAFF'  //拐点边框颜色
                        }
                    },
                    lineStyle : {
                        color : '#E4B037',
                        width : 1
                    },
                    areaStyle : {
                        color: new echarts.graphic.LinearGradient(0, 0, 0, 1,[{
                                offset: 0, color: '#C59830' // 0% 处的颜色
                            }, {
                                offset: 1, color: '#010000' // 100% 处的颜色
                            }]
                        )
                    }
                }
            ],
            grid: {
                x : '2%',
                x2 : '5%',
                y : '15%',
                y2 : '5%',
                containLabel: true
            }
        };
        speedChart.setOption(speedOption);

        $("#count_avg").text(parseInt(500*Math.random()+1));
        $("#speed_avg").text(parseInt(100*Math.random()+1)+"km/h");
    }

    // 时钟类
    function Clock() {
        var date = new Date();
        this.year = date.getFullYear();
        this.month = date.getMonth() + 1;
        this.date = date.getDate();
        this.day = new Array("星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六")[date.getDay()];
        this.hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
        this.minute = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
        this.second = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();

        this.toString = function() {
            return "现在是:" + this.year + "年" + this.month + "月" + this.date + "日 " + this.hour + ":" + this.minute + ":" + this.second + " " + this.day;
        };

        this.toTimeString = function() {
            return this.hour + ":" + this.minute + ":" + this.second;
        };

        this.toDateString = function() {
            return this.year + "年" + this.month + "月" + this.date + "日 ";
        };

        this.toSimpleDate = function() {
            return this.year + "-" + this.month + "-" + this.date;
        };

        this.toDetailDate = function() {
            return this.year + "-" + this.month + "-" + this.date + " " + this.hour + ":" + this.minute + ":" + this.second;
        };

        this.display = function(ele) {
            var clock = new Clock();
            ele[0].innerHTML = clock.toDateString() + clock.toTimeString();
            window.setTimeout(function() { clock.display(ele); }, 1000);
        };
    }
</script>
</body>
</html>