<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title></title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
<!--<div class="row  border-bottom white-bg dashboard-header">-->
<!--<div class="col-sm-12">-->
<!--<blockquote class="text-warning" style="font-size:14px">-->
<!--高性能云服务器2折起-->
<!--<br><a target="_blank" href="https://promotion.aliyun.com/ntms/act/qwbk.html?userCode=brki8iof">https://promotion.aliyun.com/ntms/act/qwbk.html?userCode=brki8iof</a>-->
<!--<br>云产品通用代金券，可叠加官网常规优惠使用-->
<!--<br><a target="_blank" href="https://promotion.aliyun.com/ntms/yunparter/invite.html?userCode=brki8iof">https://promotion.aliyun.com/ntms/yunparter/invite.html?userCode=brki8iof</a>…-->
<!--<h4 class="text-danger">限时活动推广。</h4>-->
<!--</blockquote>-->

<!--<hr>-->
<!--</div>-->
<!--<div class="col-sm-3">-->
<!--<h2>Hello,Guest</h2>-->
<!--<small>移动设备访问请扫描以下二维码：</small>-->
<!--<br>-->
<!--<br>-->
<!--<img th:src="@{/img/qr_code.png}" width="100%" style="max-width:264px;">-->
<!--<br>-->
<!--</div>-->
<!--<div class="col-sm-5">-->
<!--<h2>泓胜后台管理框架</h2>-->
<!--<p>一直想做一款后台管理系统，看了很多优秀的开源项目但是发现没有合适自己的。于是利用空闲休息时间开始自己写一套后台系统。如此有了一体化管理平台。，她可以用于所有的Web应用程序，如<b>网站管理后台</b>，<b>网站会员中心</b>，<b>CMS</b>，<b>CRM</b>，<b>OA</b>等等，当然，您也可以对她进行深度定制，以做出更强系统。所有前端后台代码封装过后十分精简易上手，出错概率低。同时支持移动客户端访问。系统会陆续更新一些实用功能。</p>-->
<!--<p>-->
<!--<b>当前版本：</b><span>v[[${version}]]</span>-->
<!--</p>-->
<!--<p>-->
<!--<span class="label label-warning">&yen;免费开源</span>-->
<!--</p>-->
<!--<br>-->
<!--<p>-->
<!--<a class="btn btn-success btn-outline" href="https://gitee.com/y_project/RuoYi" target="_blank">-->
<!--<i class="fa fa-cloud"> </i> 访问码云-->
<!--</a>-->
<!--<a class="btn btn-white btn-bitbucket" href="http://ruoyi.vip" target="_blank">-->
<!--<i class="fa fa-home"></i> 访问主页-->
<!--</a>-->
<!--</p>-->
<!--</div>-->
<!--<div class="col-sm-4">-->
<!--<h4>技术选型：</h4>-->
<!--<ol>-->
<!--<li>核心框架：Spring Boot。</li>-->
<!--<li>安全框架：Apache Shiro。</li>-->
<!--<li>模板引擎：Thymeleaf。</li>-->
<!--<li>持久层框架：MyBatis。</li>-->
<!--<li>定时任务:Quartz。</li>-->
<!--<li>数据库连接池：Druid。</li>-->
<!--<li>工具类：Fastjson。</li>-->
<!--<li>更多……</li>-->
<!--</ol>-->
<!--</div>-->

<!--</div>-->
<div class="wrapper wrapper-content">

    <div class="row">
        <div class="col-sm-4">
            <div class="widget style1 lazur-bg">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-car fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> 日车流量 </span>
                        <h2 class="font-bold" id="h_trafficFlow">0</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="widget style1 red-bg">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-truck fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> 超载车辆 </span>
                        <h2 class="font-bold" id="h_overCount">0</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="widget style1 navy-bg">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-bar-chart fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> 黑烟车 </span>
                        <h2 class="font-bold" id="h_blacksmokeCount">0</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div id="daily-pie" style="width: 100%;height:400px;">

            </div>
        </div>
        <div class="col-sm-6">
            <div id="weekly-histogram" style="width: 100%;height:400px;">

            </div>
        </div>
    </div>

</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/ajax/libs/echart/echarts.min.js}"></script>

<script>
    $(document).ready(function () {
        refresh()
        //setInterval(refresh, 10000);
    });

    function refresh() {
        $.ajax({
            cache: true,
            type: "GET",
            url: "/report/indexReport",
            async: false,
            error: function (request) {

            },
            success: function (data) {
                var blacksmokeCount = data.blacksmokeCount;
                var overCount = data.overCount;
                var trafficFlow = data.trafficFlow;

                $("#h_blacksmokeCount").html(blacksmokeCount)
                $("#h_overCount").html(overCount)
                $("#h_trafficFlow").html(trafficFlow)


                var myCharts1 = echarts.init(document.getElementById('daily-pie'));
                var option1 = {
                    backgroundColor: 'white',
                    title: {
                        text: '超载数据',
                        left: 'center',
                        top: 20
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: "{a} <br/>{b}:{c}{d}%"
                    },
                    legend: {
                        orient: 'vertical',
                        x: 'left',
                        data: ['未超载车辆', '超载车辆']
                    },
                    series: [
                        {
                            name: '今日车辆',
                            type: 'pie',
                            radius: '50%',
                            center: ['50%', '50%'],
                            data: [
                                {
                                    value: trafficFlow - overCount,
                                    name: '未超载车辆'
                                },
                                {
                                    value: overCount,
                                    name: '超载车辆'
                                }
                            ],
                            color: ['#076a80', '#ff5064'],
                            label: {
                                normal: {
                                    position: 'inner',  // 设置标签位置，默认在饼状图外 可选值：'outer' ¦ 'inner（饼状图上）'
                                    // formatter: '{a} {b} : {c}个 ({d}%)'   设置标签显示内容 ，默认显示{b}
                                    // {a}指series.name  {b}指series.data的name
                                    // {c}指series.data的value  {d}%指这一部分占总数的百分比
                                    formatter: '{c}'
                                }
                            }
                        }
                    ]
                };
                myCharts1.setOption(option1);

                var myCharts2 = echarts.init(document.getElementById('weekly-histogram'));
                option2 = {
                    backgroundColor: 'white',
                    title: {
                        text: '黑烟数据',
                        left: 'center',
                        top: 20
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: "{a} <br/>{b}:{c}{d}%"
                    },
                    legend: {
                        orient: 'vertical',
                        x: 'left',
                        data: ['非黑烟车辆', '黑烟车辆']
                    },
                    series: [
                        {
                            name: '今日车辆',
                            type: 'pie',
                            radius: '50%',
                            center: ['50%', '50%'],
                            data: [
                                {
                                    value: trafficFlow - blacksmokeCount,
                                    name: '非黑烟车辆'
                                },
                                {
                                    value: blacksmokeCount,
                                    name: '黑烟车辆'
                                }
                            ],
                            color: ['#076a80', '#ff5064'],
                            label: {
                                normal: {
                                    position: 'inner',  // 设置标签位置，默认在饼状图外 可选值：'outer' ¦ 'inner（饼状图上）'
                                    // formatter: '{a} {b} : {c}个 ({d}%)'   设置标签显示内容 ，默认显示{b}
                                    // {a}指series.name  {b}指series.data的name
                                    // {c}指series.data的value  {d}%指这一部分占总数的百分比
                                    formatter: '{c}'
                                }
                            }
                        }
                    ]
                };
                myCharts2.setOption(option2);
            }
        });
    }


</script>
</body>
</html>
