<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.duge.mapper.StationInfoMapper">
    
    <resultMap type="StationInfo" id="StationInfoResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="abbreviation"    column="abbreviation"    />
        <result property="latitude"    column="latitude"    />
        <result property="longitude"    column="longitude"    />
        <result property="userId"    column="user_id"    />
        <result property="bureau"    column="bureau"    />
        <result property="province"    column="province"    />
        <result property="city"    column="city"    />
        <result property="county"    column="county"    />
        <result property="address"    column="address"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="longitude_WGS84"    column="longitude_WGS84"    />
        <result property="latitude_WGS84"    column="latitude_WGS84"    />
        <result property="longitude_GCJ02"    column="longitude_GCJ02"    />
        <result property="latitude_GCJ02"    column="latitude_GCJ02"    />
        <result property="longitude_BD09"    column="longitude_BD09"    />
        <result property="latitude_BD09"    column="latitude_BD09"    />
        <result property="ip"    column="ip"    />
        <result property="port"    column="port"    />
        <result property="state"    column="state"    />
    </resultMap>
	
	<sql id="selectStationInfoVo">
        select id, name, abbreviation, latitude, longitude, user_id, bureau, province, city, county, address, create_by,
        create_time, update_by, update_time, remark, longitude_WGS84,latitude_WGS84,longitude_GCJ02,latitude_GCJ02,
        longitude_BD09,latitude_BD09,ip ,port ,state  from duge_station_info
    </sql>
	
    <select id="selectStationInfoList" parameterType="StationInfo" resultMap="StationInfoResult">
        <include refid="selectStationInfoVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="name != null  and name != '' "> and name = #{name}</if>
             <if test="abbreviation != null  and abbreviation != '' "> and abbreviation = #{abbreviation}</if>
             <if test="latitude != null  and latitude != '' "> and latitude = #{latitude}</if>
             <if test="longitude != null  and longitude != '' "> and longitude = #{longitude}</if>
             <if test="userId != null "> and user_id = #{userId}</if>
             <if test="bureau != null  and bureau != '' "> and bureau = #{bureau}</if>
             <if test="province != null  and province != '' "> and province = #{province}</if>
             <if test="city != null  and city != '' "> and city = #{city}</if>
             <if test="county != null  and county != '' "> and county = #{county}</if>
             <if test="address != null  and address != '' "> and address = #{address}</if>
             <if test="createBy != null  and createBy != '' "> and create_by = #{createBy}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateBy != null  and updateBy != '' "> and update_by = #{updateBy}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
         </where>
    </select>
    
    <select id="selectStationInfoById" parameterType="Integer" resultMap="StationInfoResult">
        <include refid="selectStationInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertStationInfo" parameterType="StationInfo">
        insert into duge_station_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			<if test="name != null  and name != ''  ">name,</if>
			<if test="abbreviation != null  and abbreviation != ''  ">abbreviation,</if>
			<if test="latitude != null  and latitude != ''  ">latitude,</if>
			<if test="longitude != null  and longitude != ''  ">longitude,</if>
			<if test="userId != null  ">user_id,</if>
			<if test="bureau != null  and bureau != ''  ">bureau,</if>
			<if test="province != null  and province != ''  ">province,</if>
			<if test="city != null  and city != ''  ">city,</if>
			<if test="county != null  and county != ''  ">county,</if>
			<if test="address != null  and address != ''  ">address,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateBy != null  and updateBy != ''  ">update_by,</if>
			<if test="updateTime != null  ">update_time,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
			<if test="ip != null  and ip != ''  ">ip,</if>
			<if test="port != null ">port,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  ">#{id},</if>
			<if test="name != null  and name != ''  ">#{name},</if>
			<if test="abbreviation != null  and abbreviation != ''  ">#{abbreviation},</if>
			<if test="latitude != null  and latitude != ''  ">#{latitude},</if>
			<if test="longitude != null  and longitude != ''  ">#{longitude},</if>
			<if test="userId != null  ">#{userId},</if>
			<if test="bureau != null  and bureau != ''  ">#{bureau},</if>
			<if test="province != null  and province != ''  ">#{province},</if>
			<if test="city != null  and city != ''  ">#{city},</if>
			<if test="county != null  and county != ''  ">#{county},</if>
			<if test="address != null  and address != ''  ">#{address},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
            <if test="ip != null  and ip != ''  ">#{ip},</if>
            <if test="port != null ">#{port},</if>
         </trim>
    </insert>
	 
    <update id="updateStationInfo" parameterType="StationInfo">
        update duge_station_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''  ">name = #{name},</if>
            <if test="abbreviation != null  and abbreviation != ''  ">abbreviation = #{abbreviation},</if>
            <if test="latitude != null  and latitude != ''  ">latitude = #{latitude},</if>
            <if test="longitude != null  and longitude != ''  ">longitude = #{longitude},</if>
            <if test="userId != null  ">user_id = #{userId},</if>
            <if test="bureau != null  and bureau != ''  ">bureau = #{bureau},</if>
            <if test="province != null  and province != ''  ">province = #{province},</if>
            <if test="city != null  and city != ''  ">city = #{city},</if>
            <if test="county != null  and county != ''  ">county = #{county},</if>
            <if test="address != null  and address != ''  ">address = #{address},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="ip != null  and ip != ''  ">ip = #{ip},</if>
            <if test="port != null ">port = #{port},</if>
            <if test="state != null ">state = #{state},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteStationInfoById" parameterType="Integer">
        delete from duge_station_info where id = #{id}
    </delete>
	
    <delete id="deleteStationInfoByIds" parameterType="String">
        delete from duge_station_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectStationStateInfo" resultType="com.ruoyi.duge.domain.StationInfo">
        select id, ip, port, state from duge_station_info
    </select>
</mapper>