<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-8 search-collapse" style="padding:0;margin: 0">
                <form id="weightdata-form">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>车牌： </label><input style="width: 140px" type="text" name="truckNumber"/>
                            </li>
                            <li>
                                <label>站点： </label>
                                <input id='station-input' style="width: 140px" type="text" onclick="selectStation()" readonly="true" name="stationName"/>
                                <input id='station-hide' type="hidden" readonly="true" name="stationId"/>
                            </li>
                            <li class="select-time">
                                <label>采集时间： </label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
                            </li>
                            <input type="hidden" id="hide-over-input" th:value="${overWeightMin}" name="params[overWeightMin]"/>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                                <a class="btn btn-warning" onclick="$.table.exportExcel()" ><i class="fa fa-download"></i> 导出</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <!--<div class="btn-group-sm hidden-xs" id="toolbar" role="group">-->
                <!--<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="module:data:add">-->
                    <!--<i class="fa fa-plus"></i> 添加-->
                <!--</a>-->
                <!--<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="module:data:edit">-->
                    <!--<i class="fa fa-edit"></i> 修改-->
                <!--</a>-->
                <!--<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="module:data:remove">-->
                    <!--<i class="fa fa-remove"></i> 删除-->
                <!--</a>-->
            <!--</div>-->
            <div class="col-sm-12 table-striped" >
                <table id="bootstrap-table" data-mobile-responsive="true" class="table-condensed"></table>
            </div>
        </div>
    </div>
</div>

<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('module:data:edit')}]];
    var removeFlag = [[${@permission.hasPermi('module:data:remove')}]];
    var prefix = ctx + "duge/weightData";

    function queryParams(params) {
        var search = $.table.queryParams(params);
        search["params[overWeightMin]"] = $("#hide-over-input").val();
        return search;
    }

    $(function() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            detailUrl: prefix + "/detail/{id}",
            exportUrl: prefix + "/export",
            modalName: "重量数据",
            search: false,
            showExport: false,
            showToggle:false,
            showSearch: false,
            pageSize: 15,
            queryParams:queryParams,
            columns: [
                {
                    checkbox: true
                },
                {
                    field : 'stationName',
                    title : '站点'
                },
                {
                    field : 'truckNumber',
                    title : '车牌号'
                },
                {
                    field : 'truckCorlor',
                    title : '车牌颜色'
                },
                {
                    field : 'axleCount',
                    title : '轴数',
                    visible:false
                },
                {
                    field : 'axleType',
                    title : '轴型序列',
                    visible:false
                },
                {
                    field : 'weight',
                    title : '总重'
                },
                {
                    field : 'limitWeight',
                    title : '限重',
                    visible:false
                },
                {
                    field : 'overWeight',
                    title : '超重'
                },
                {
                    field: 'limitOverLevel',
                    title: '超重比率',
                    formatter: function(value, row, index){
                        //超重除以限重
                        var rate =(row.overWeight/row.limitWeight);
                        var rateText = (rate*100).toFixed(2) + '%';
                        if(rate > 0.5 ) {
                            return '<span class="bg-red" style="color: white">' + rateText +'</span>'
                        }
                        else if(rate > 0.2 ) {
                            return '<span class="bg-yellow" style="color: white">' + rateText +'</span>'
                        }
                        else if(rate < 0.1 ) {
                            return '<span class="bg-green" style="color: white">' + rateText+'</span>'
                        }
                        else if(rate == 0  ) {
                            return '<span>' + rateText+'</span>'
                        }
                        else if(rate==null) {
                            return '<span class="bg-primary">计算出错</span>'
                        }else {
                            return '<span class="bg-success">' + rateText +'</span>'
                        }
                    }
                },
                {
                    field : 'speed',
                    title : '车速(km/h)'
                },
                {
                    field : 'width',
                    title : '车宽'
                },
                {
                    field : 'height',
                    title : '车高'
                },
                {
                    field : 'length',
                    title : '车长'
                },
                {
                    field : 'weightingDate',
                    title : '采集时间'
                },
                {
                    field : 'direction',
                    title : '行驶方向',
                    visible:false
                },
                {
                    field : 'lwhDate',
                    visible:false,
                    title : '超限采集时间'
                },
                {
                    field : 'plate',
                    visible:false,
                    title : '超限车牌号'
                },
                {
                    field : 'laneMid',
                    title : '中间车道号 ',
                    visible:false,
                },
                {
                    field : 'laneMin',
                    title : '小车道号 ',
                    visible:false,
                },
                {
                    field : 'laneMax',
                    title : '大车道号 ',
                    visible:false,
                },
                {
                    field : 'passTime',
                    title : '通过时间 ',
                    visible:false
                },
                {
                    field : 'upload_tag',
                    title : '上传标记',
                    visible:false
                },
                {
                    field : 'axleWeight1',
                    title : '轴重1',
                    visible:false,
                },
                {
                    field : 'axleWeight2',
                    title : '轴重2',
                    visible:false,
                },
                {
                    field : 'axleWeight3',
                    title : '轴重3',
                    visible:false,
                },
                {
                    field : 'axleWeight4',
                    title : '轴重4',
                    visible:false,
                },
                {
                    field : 'axleWeight5',
                    title : '轴重5',
                    visible:false,
                },
                {
                    field : 'axleWeight6',
                    title : '轴重6',
                    visible:false,
                },
                {
                    field : 'axleWeight7',
                    title : '轴重7',
                    visible:false,
                },
                {
                    field : 'axleWeight8',
                    title : '轴重8',
                    visible:false,
                },
                {
                    field : 'weightingId',
                    title : '称重序号',
                    visible:false
                },
                {
                    field : 'lane',
                    title : '车道号',
                    visible:false
                },
                {
                    field : 'ftpHead',
                    title : '车头图片地址（秤上）',
                    visible:false,
                },
                {
                    field : 'ftpAxle',
                    title : '车轴图片地址（秤上）',
                    visible:false,
                },
                {
                    field : 'ftpTail',
                    title : '车尾图片地址（秤上）',
                    visible:false,
                },
                {
                    field : 'ftpPriorHead',
                    title : '秤前车头图片地址',
                    visible:false,
                },
                {
                    field : 'ftpPlate',
                    title : '车牌特征图',
                    visible:false,
                },
                {
                    field : 'ftpFullView',
                    title : '车头视频文件地址',
                    visible:false,
                },
                {
                    field : 'deviceCode',
                    title : '设备编码',
                    visible:false,
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-warning btn-xs" href="#" onclick="$.operate.detail(\'' + row.id + '\',\'1000px\')"><i class="fa fa-search"></i>详细</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);

        setInterval('$.table.search()', 1000 * 120);
        $(".fixed-table-toolbar").hide()
    });

    function selectStation() {
        var prefix = ctx + "module/stationInfo";
        var options = {
            title: '站点',
            width: "1000",
            height:"400",
            url: prefix + "/list",
            callBack: doSubmit
        };
        $.modal.openOptions(options);
    }

    function doSubmit(index, layero){
        var body = layer.getChildFrame('body', index);
        $("#station-input").val(body.find('#stationName').val());
        $("#station-hide").val(body.find('#stationId').val());
        layer.close(index);
    }

</script>
</body>
</html>