<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/ajax/libs/blueimp/css/blueimp-gallery.min.css}" rel="stylesheet"/>
<link th:href="@{/ajax/libs/blueimp/css/blueimp-gallery-video.css}" rel="stylesheet"/>
<style>
    .carousel-inner .item img {
        margin-top: 0px;
        padding-top: 0px;
    }

    .carousel-inner .item h4 {
        margin-bottom: 0px;
    }

    .form-group-new {
        margin-bottom: 1px;
        margin-right: -1px;
        margin-left: -1px;
    }

    .form-horizontal .control-label-new {
        padding-top: 1px;
        margin-bottom: 0;
        text-align: right;
    }

    .form-control-static-new {
        min-height: 28px;
        padding-top: 1px;
        padding-bottom: 1px;
        margin-bottom: 0;
    }

    .over-filed {
        background-color: red;
        color: white
    }
</style>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal" id="signupForm">
        <div class="row">
            <div class="col-sm-6">
                <div id="links">
                    <div class="col-md-12 carousel slide" id="carousel2">
                        <div class="carousel-inner"
                             style="min-height: 150px;width: 100%;display: flex;flex-direction: column;justify-content: space-between;">
                            <!-- <div class="item active" th:if="${data.ftpPriorHead != null && data.ftpPriorHead ne ''}"> -->
                            <div style="width: 100%;display: flex;justify-content: space-around;align-items: center;">
                                <div style="width: 45%; min-height:220px; min-width:100px;">
                                    <h4>前抓拍</h4>
                                    <a th:href="${ctxPath +data.ftpPriorHead}" title="前抓拍" data-gallery=""
                                       th:if="${data.ftpPriorHead != null && data.ftpPriorHead ne ''}">
                                        <img alt="image" class="img-responsive" style="width: 100vh; height: 30vh;"
                                             th:src="${ctxPath +data.ftpPriorHead}">
                                    </a>
                                </div>

                                <div style="width: 45%; min-height:220px; min-width:100px;">
                                    <h4>后抓拍</h4>
                                    <a th:href="${ctxPath +data.ftpTail}" title="后抓拍" data-gallery=""
                                       th:if="${data.ftpTail != null && data.ftpTail ne ''}">
                                        <img alt="image" class="img-responsive" style="width: 100vh; height: 30vh;"
                                             th:src="${ctxPath +data.ftpTail}">
                                    </a>
                                </div>
                            </div>
                            <div style="width: 100%;display: flex;justify-content: space-around;align-items: center; margin-top：200px;">
                                <div style="width: 45%; min-height:220px; min-width:100px;">
                                    <h4>右侧拍</h4>
                                    <a th:href="${ctxPath +data.ftpAxle}" title="右侧拍" data-gallery=""
                                       th:if="${data.ftpAxle != null && data.ftpAxle ne ''}">
                                        <!-- http://pic18.nipic.com/20120103/8993051_170340691334_2.jpg -->
                                        <img alt="image" class="img-responsive" style="width: 100vh; height: 30vh;"
                                             th:src="${ctxPath +data.ftpAxle}">
                                    </a>
                                </div>
                                <div style="width: 45%; min-height:220px; min-width:100px;">
                                    <h4>左侧拍</h4>
                                    <a th:href="${ctxPath + data.ftpHead}" title="左侧拍" data-gallery=""
                                       th:if="${data.ftpHead != null &&  data.ftpHead ne ''}">
                                        <img alt="image" class="img-responsive" style="width: 100vh; height: 30vh;"
                                             th:src="${ctxPath +data.ftpHead}">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="col-md-6">行车信息：</h4>
            <div class="col-sm-3">
                <div class="form-group-new">
                    <label class="col-sm-7 control-label-new">治超站点：</label>
                    <div class="form-control-static-new" th:text="${data.stationName}">
                    </div>
                </div>
                <div class="form-group-new">
                    <label class="col-sm-7 control-label-new">车牌信息：</label>
                    <div class="form-control-static-new" th:text="${data.truckNumber}">
                    </div>
                </div>
                <div class="form-group-new">
                    <label class="col-sm-7 control-label-new">采集日期：</label>
                    <div class="form-control-static-new" th:text="${#dates.format(data.weightingDate,'yyyy-MM-dd')}">
                    </div>
                </div>
                <div class="form-group-new weight_item">
                    <label class="col-sm-7 control-label-new">总重(吨)：</label>
                    <div class="form-control-static-new" th:text="${data.weight}" id="weightDiv">
                    </div>
                </div>
                <div class="form-group-new weight_item">
                    <label class="col-sm-7 control-label-new">轴数：</label>
                    <div class="form-control-static-new" th:text="${data.axleCount}">
                    </div>
                </div>
                <div class="form-group-new weight_item">
                    <label class="col-sm-7 control-label-new">超重(吨)：</label>
                    <div class="form-control-static-new" th:text="${data.overWeight}" id="overWeightDiv">
                    </div>
                </div>
                <div class="form-group-new weight_item">
                    <label class="col-sm-7 control-label-new">轴一重量(吨)：</label>
                    <div class="form-control-static-new" th:text="${data.axleWeight1}">
                    </div>
                </div>
                <div class="form-group-new weight_item" th:if="${data.axleWeight3 != null && data.axleWeight3 >0 }">
                    <label class="col-sm-7 control-label-new">轴三重量(吨)：</label>
                    <div class="form-control-static-new" th:text="${data.axleWeight3}">
                    </div>
                </div>
                <div class="form-group-new weight_item" th:if="${data.axleWeight5 != null && data.axleWeight5 >0 }">
                    <label class="col-sm-7 control-label-new">轴五重量(吨)：</label>
                    <div class="form-control-static-new" th:text="${data.axleWeight5}">
                    </div>
                </div>
                <div class="form-group-new weight_item" th:if="${data.axleWeight7 != null && data.axleWeight7 >0 }">
                    <label class="col-sm-7 control-label-new">轴七重量(吨)：</label>
                    <div class="form-control-static-new" th:text="${data.axleWeight7}">
                    </div>
                </div>
                <div class="form-group-new">
                    <label class="col-sm-7 control-label-new">车长(m)：</label>
                    <div class="form-control-static-new" th:text="${data.length}/1000" id="lengthDiv">
                    </div>
                </div>
                <div class="form-group-new">
                    <label class="col-sm-7 control-label-new">车宽(m)：</label>
                    <div class="form-control-static-new" th:text="${data.width}/1000" id="widthDiv">
                    </div>
                </div>

            </div>
            <div class="col-sm-3">
                <div class="form-group-new">
                    <label class="col-sm-7 control-label-new">行驶车道：</label>
                    <div class="form-control-static-new" th:text="${data.laneMid}">
                    </div>
                </div>
                <div class="form-group-new">
                    <label class="col-sm-7 control-label-new">车速(km/h)：</label>
                    <div class="form-control-static-new" th:text="${data.speed}">
                    </div>
                </div>
                <div class="form-group-new">
                    <label class="col-sm-7 control-label-new">采集时间：</label>
                    <div class="form-control-static-new" th:text="${#dates.format(data.weightingDate,'HH:mm:ss')}">
                    </div>
                </div>
                <div class="form-group-new weight_item">
                    <label class="col-sm-7 control-label-new">超重率：</label>
                    <div class="form-control-static-new" th:text="${overRate}">
                    </div>
                </div>
                <div class="form-group-new weight_item">
                    <label class="col-sm-7 control-label-new">限重：</label>
                    <div class="form-control-static-new" th:text="${data.limitWeight}">
                    </div>
                </div>

                <div class="form-group-new weight_item">
                    <label class="col-sm-7 control-label-new">轴二重量(吨)：</label>
                    <div class="form-control-static-new" th:text="${data.axleWeight2}">
                    </div>
                </div>
                <div class="form-group-new weight_item" th:if="${data.axleWeight4 != null && data.axleWeight4 >0 }">
                    <label class="col-sm-7 control-label-new">轴四重量(吨)：</label>
                    <div class="form-control-static-new" th:text="${data.axleWeight4}">
                    </div>
                </div>
                <div class="form-group-new weight_item" th:if="${data.axleWeight6 != null && data.axleWeight6 >0 }">
                    <label class="col-sm-7 control-label-new">轴六重量(吨)：</label>
                    <div class="form-control-static-new" th:text="${data.axleWeight6}">
                    </div>
                </div>
                <div class="form-group-new weight_item" th:if="${data.axleWeight8 != null && data.axleWeight8 >0 }">
                    <label class="col-sm-7 control-label-new">轴八重量(吨)：</label>
                    <div class="form-control-static-new" th:text="${data.axleWeight8}">
                    </div>
                </div>
                <div class="form-group-new weight_item">
                    <label class="col-sm-7 control-label-new">通过时间(ms)：</label>
                    <div class="form-control-static-new" th:text="${data.passTime}">
                    </div>
                </div>
                <div class="form-group-new">
                    <label class="col-sm-7 control-label-new">车高(m)：</label>
                    <div class="form-control-static-new" th:text="${data.height}/1000" id="heightDiv">
                    </div>
                </div>
                <div class="form-group-new">
                    <label class="col-sm-7 control-label-new">栏板高(m)：</label>
                    <div class="form-control-static-new" th:text="${data.lbh}/1000" >
                    </div>
                </div>
                <div class="form-group-new weight_item">
                    <label class="col-sm-7 control-label-new">车辆方向：</label>
                    <div class="form-control-static-new" th:text="${data.direction}">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
            </div>
            <div class="col-sm-3">
                <div class="col-sm-12" th:if="${data.ftpPlate != null && data.ftpPlate ne ''}">
                    <h4>车牌</h4>
                    <a th:href="${ctxPath + data.ftpPlate}" title="车牌" data-gallery=""
                       style="position:absolute;left:50%;top:110%;transform: translate(-50%,-50%);">
                        <img alt="image" class="img-responsive" height="280" th:src="${ctxPath + data.ftpPlate}">
                    </a>
                </div>
            </div>
            <div class="col-sm-3">
                <h3 class="col-sm-12" style="margin-top:20px;"
                    th:if="${data.ftpFullView != null && data.ftpFullView ne ''}">视频信息：</h3>
                <div class="col-sm-12" th:if="${data.ftpFullView != null && data.ftpFullView ne ''}">
                    <video th:src="${ctxPath +data.ftpFullView}" th:poster="@{/img/play_button.jpg}" controls=""
                           style="height: 200px !important;"></video>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
</div>
<div th:include="include :: footer"></div>
<script th:src="@{/ajax/libs/blueimp/js/jquery.blueimp-gallery.min.js}"></script>
<script>
    $("#links").children("li").onclick = function (event) {
        event = event || window.event;
        var target = event.target || event.srcElement,
            link = target.src ? target.parentNode : target,
            options = {index: link, event: event},
            links = this.getElementsByTagName('a');
        blueimp.Gallery(links, options);
    };
    $(function () {
        if (parseInt($("#overWeightDiv").html()) > 0) {
            $("#overWeightDiv").addClass("over-filed")
        } else {
            $("#overWeightDiv").removeClass("over-filed")
        }
        if (parseFloat($("#lengthDiv").html()) > 18.1) {
            $("#lengthDiv").addClass("over-filed")
        } else {
            $("#lengthDiv").removeClass("over-filed")
        }
        if (parseFloat($("#widthDiv").html()) > 2.55) {
            $("#widthDiv").addClass("over-filed")
        } else {
            $("#widthDiv").removeClass("over-filed")
        }
        if (parseFloat($("#heightDiv").html()) > 4) {
            $("#heightDiv").addClass("over-filed")
        } else {
            $("#heightDiv").removeClass("over-filed")
        }
        if (parseFloat($("#weightDiv").html()) <= 0) {
            $(".weight_item").hide()
        }
        $(".fixed-table-toolbar").hide()
    });
</script>
</body>
</html>