<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="ibox float-e-margins">
    <input id='stationId-path' type="hidden" th:value="${stationId}"/>
    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-8 search-collapse" style="padding:0;margin: 0">
                <form id="weightdata-form">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>车牌： </label><input style="width: 140px" type="text" name="truckNumber"/>
                            </li>
                            <li>
                                <label>车道： </label><input style="width: 140px" type="text" name="laneMid"/>
                            </li>
                            <li>
                                <label>站点： </label>
                                <input id='station-input' style="width: 140px" type="text" onclick="selectStation()"
                                       readonly="true" name="stationName"/>
                                <input id='station-hide' type="hidden" readonly="true" name="stationId"/>
                            </li>
                            <li>
                                <label>车牌颜色： </label>
                                <select id="color-select" name="truckCorlor" style="width: 100px">
                                    <option value="">全部</option>
                                    <option value="黄">黄</option>
                                    <option value="蓝">蓝</option>
                                    <option value="黑">黑</option>
                                    <option value="白">白</option>
                                </select>
                            </li>
                            <li class="select-time">
                                <label>采集时间： </label>
                                <input type="text" class="time-input" id="dt1" placeholder="开始时间"
                                       name="params[beginTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="dt2" placeholder="结束时间"
                                       name="params[endTime]"/>
                            </li>
                            <li>
                                <label>栏板高： </label><input style="width: 100px" type="text" name="lbh"/>
                            </li>
                            <input type="hidden" id="hide-over-input" th:value="${overWeightMin}"
                                   name="params[overWeightMin]"/>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                        class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                        class="fa fa-refresh"></i>&nbsp;重置</a>
                                <a class="btn btn-warning" onclick="$.table.exportExcel()"><i
                                        class="fa fa-download"></i> 导出</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <!--<div class="btn-group-sm hidden-xs" id="toolbar" role="group">-->
            <!--<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="module:data:add">-->
            <!--<i class="fa fa-plus"></i> 添加-->
            <!--</a>-->
            <!--<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="module:data:edit">-->
            <!--<i class="fa fa-edit"></i> 修改-->
            <!--</a>-->
            <!--<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="module:data:remove">-->
            <!--<i class="fa fa-remove"></i> 删除-->
            <!--</a>-->
            <!--</div>-->
            <div class="col-sm-12 table-striped">
                <table id="bootstrap-table" data-mobile-responsive="true" class="table-condensed"></table>
            </div>
        </div>
    </div>
</div>

<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('module:data:edit')}]];
    var removeFlag = [[${@permission.hasPermi('module:data:remove')}]];
    var prefix = ctx + "duge/weightData";
    $.datetimepicker.setLocale('zh');

    function queryParams(params) {
        var search = $.table.queryParams(params);
        search["params[overWeightMin]"] = $("#hide-over-input").val();
        return search;
    }

    $(function () {
        $('#dt1').datetimepicker({
            format:'Y-m-d H:i',
            formatDate:'Y-m-d H:i'
        });
        $('#dt2').datetimepicker({
            format:'Y-m-d H:i',
            formatDate:'Y-m-d H:i'
        });
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            detailUrl: prefix + "/detail/{id}",
            exportUrl: prefix + "/export",
            modalName: "重量数据",
            search: false,
            showExport: false,
            showToggle: false,
            showSearch: false,
            pageSize: 15,
            queryParams: queryParams,
            columns: [
                {
                    checkbox: true
                },
                {
                    field: 'stationName',
                    title: '站点'
                },
                {
                    field: 'truckNumber',
                    title: '车牌号',
                    cellStyle: function cellStyle(value, row, index, field) {
                        if (value !== '无车牌' || row.truckNumber !== '无车牌') {
                            return {
                                css: {
                                    "color": "orange"
                                }
                            }
                        } else {
                            return {css: {}}
                        }
                    }
                },
                {
                    field: 'truckCorlor',
                    title: '车牌颜色'
                },
                {
                    field: 'laneMid',
                    title: '中间车道号 ',
                },
                {
                    field: 'axleCount',
                    title: '轴数',
                    visible: false
                },
                {
                    field: 'axleType',
                    title: '轴型序列',
                    visible: false
                },
                {
                    field: 'weight',
                    title: '总重'
                },
                {
                    field: 'limitWeight',
                    title: '限重',
                    visible: false
                },
                {
                    field: 'overWeight',
                    title: '超重'
                },
                {
                    field: 'limitOverLevel',
                    title: '超重比率',
                    formatter: function (value, row, index) {
                        //超重除以限重
                        var rate;
                        if (row.limitWeight != 0) {
                            rate = (row.overWeight / row.limitWeight);
                        } else {
                            rate = 0.00;
                        }
                        var rateText = (rate * 100).toFixed(2) + '%';
                        if (rate > 0.5) {
                            return '<span style="color: red">' + rateText + '</span>'
                        } else if (rate > 0.2) {
                            return '<span style="color: orange">' + rateText + '</span>'
                        } else if (rate > 0.1) {
                            return '<span style="color: yellow">' + rateText + '</span>'
                        } else if (rate == 0) {
                            return '<span>' + rateText + '</span>'
                        } else if (rate == null) {
                            return '<span class="bg-primary">计算出错</span>'
                        } else {
                            return '<span >' + rateText + '</span>'
                        }
                    }
                },
                {
                    field: 'speed',
                    title: '车速(km/h)'
                },
                {
                    field: 'width',
                    title: '车宽',
                    cellStyle: function cellStyle(value, row, index, field) {
                        return overSizeCss(overSize(row))
                    }
                },
                {
                    field: 'height',
                    title: '车高',
                    cellStyle: function cellStyle(value, row, index, field) {
                        return overSizeCss(overSize(row))
                    }
                },
                {
                    field: 'length',
                    title: '车长',
                    cellStyle: function cellStyle(value, row, index, field) {
                        return overSizeCss(overSize(row))
                    }
                },
                {
                    field: 'weightingDate',
                    title: '采集时间',
                    sortable: true
                },
                {
                    field: 'direction',
                    title: '行驶方向',
                    visible: false
                },
                {
                    field: 'lwhDate',
                    visible: false,
                    title: '超限采集时间'
                },
                {
                    field: 'plate',
                    visible: false,
                    title: '超限车牌号'
                },
                {
                    field: 'laneMin',
                    title: '小车道号 ',
                    visible: false,
                },
                {
                    field: 'laneMax',
                    title: '大车道号 ',
                    visible: false,
                },
                {
                    field: 'passTime',
                    title: '通过时间 ',
                    visible: false
                },
                {
                    field: 'upload_tag',
                    title: '上传标记',
                    visible: false
                },
                {
                    field: 'axleWeight1',
                    title: '轴重1',
                    visible: false,
                },
                {
                    field: 'axleWeight2',
                    title: '轴重2',
                    visible: false,
                },
                {
                    field: 'axleWeight3',
                    title: '轴重3',
                    visible: false,
                },
                {
                    field: 'axleWeight4',
                    title: '轴重4',
                    visible: false,
                },
                {
                    field: 'axleWeight5',
                    title: '轴重5',
                    visible: false,
                },
                {
                    field: 'axleWeight6',
                    title: '轴重6',
                    visible: false,
                },
                {
                    field: 'axleWeight7',
                    title: '轴重7',
                    visible: false,
                },
                {
                    field: 'axleWeight8',
                    title: '轴重8',
                    visible: false,
                },
                {
                    field: 'weightingId',
                    title: '称重序号',
                    visible: false
                },
                {
                    field: 'lane',
                    title: '车道号',
                    visible: false
                },
                {
                    field: 'ftpHead',
                    title: '车头图片地址（秤上）',
                    visible: false,
                },
                {
                    field: 'ftpAxle',
                    title: '车轴图片地址（秤上）',
                    visible: false,
                },
                {
                    field: 'ftpTail',
                    title: '车尾图片地址（秤上）',
                    visible: false,
                },
                {
                    field: 'ftpPriorHead',
                    title: '秤前车头图片地址',
                    visible: false,
                },
                {
                    field: 'ftpPlate',
                    title: '车牌特征图',
                    visible: false,
                },
                {
                    field: 'ftpFullView',
                    title: '车头视频文件地址',
                    visible: false,
                },
                {
                    field: 'deviceCode',
                    title: '设备编码',
                    visible: false,
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        /*                        actions.push('<a class="btn btn-warning btn-xs" href="#" ' +
                                                    'onclick="$.operate.detail(\'' + row.id + '\',\'1000px\')"><i class="fa fa-search"></i>详细</a>');*/
                        /*                        actions.push('<a class="btn btn-warning btn-xs" href="/duge/weightData/detail/' + row.id + '" target="_Blank" >' +
                                                    '<i class="fa fa-search"></i>详细</a>');         */
                        actions.push('<a class="btn btn-warning btn-xs" href="#" ' +
                            'onclick="weightDetail(' + row.id + ')"><i class="fa fa-search"></i>详细</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
        setInterval('$.table.search()', 1000 * 120);
        $(".fixed-table-toolbar").hide()
        if($("#stationId-path").val()!=0){
            $("#station-hide").val($("#stationId-path").val());
            $.table.search()
        }
    });

    function weightDetail(id) {
        var dataUrl = "/duge/weightData/detail/" + id,
            menuName = "车辆详情",
            dataIndex = 100;
        var str = '<a href="javascript:;" class="active menuTab" data-id="' + dataUrl + '">' + menuName + ' <i class="fa fa-times-circle"></i></a>';
        $('.menuTab', parent.document).removeClass('active');

        // 添加选项卡对应的iframe
        var str1 = '<iframe class="RuoYi_iframe" name="iframe' + dataIndex + '" width="100%" height="100%" src="' + dataUrl + '" frameborder="0" data-id="' + dataUrl + '" seamless></iframe>';
        $('.mainContent', parent.document).find('iframe.RuoYi_iframe', parent.document).hide().parents('.mainContent', parent.document).append(str1);

        //$.modal.loading("数据加载中，请稍后...");
        $('.mainContent iframe:visible', parent.document).load(function () {
            $.modal.closeLoading();
        });
        // 添加选项卡
        $('.menuTabs .page-tabs-content', parent.document).append(str);
        //scrollToTab($('.menuTab.active'));
    }

    function selectStation() {
        var prefix = ctx + "module/stationInfo";
        var options = {
            title: '站点',
            width: "1000",
            height: "400",
            url: prefix + "/list",
            callBack: doSubmit
        };
        $.modal.openOptions(options);
    }

    function doSubmit(index, layero) {
        var body = layer.getChildFrame('body', index);
        $("#station-input").val(body.find('#stationName').val());
        $("#station-hide").val(body.find('#stationId').val());
        layer.close(index);
    }

    function overSize(row) {
        if (row.width > 3750 || row.length > 28000 || row.height > 4500) {
            return 3;
        } else if (row.width > 3000 || row.length > 20000 || row.height > 4200) {
            return 2;
        } else if (row.width > 2550 || row.length > 18100 || row.height > 4000) {
            return 1;
        } else {
            return 0;
        }
    }

    function overSizeCss(level) {
        if (level === 3) {
            return {
                css: {
                    "color": "red"
                }
            }
        } else if (level === 2) {
            return {
                css: {
                    "color": "orange"
                }
            }
        } else if (level === 1) {
            return {
                css: {
                    "color": "yellow"
                }
            }
        } else {
            return {
                css: {}
            }
        }
    }

</script>
</body>
</html>